In [1]:
from common import Data

In [4]:
df = Data.get_nwsl_matches()
df["total_score"] = df["home_score"] + df["away_score"]
df.groupby("date").agg(total_score=("total_score", "sum")).sort_values("total_score")

            total_score
date
2022-06-07            0
2015-08-23            0
2023-07-02            0
2015-08-27            0
2022-08-12            0
...                 ...
2017-05-27           17
2014-07-20           17
2023-04-01           18
2017-06-17           20
2017-09-30           21

[658 rows x 1 columns]

In [5]:
df[df["date"] == "2017-09-30"]

,date,time,season,home,away,home_score,away_score,home_penalty_score,away_penalty_score,home_xg,away_xg,referee,attendance,stadium,is_forfeit,is_extra_time,is_pks,is_playoffs,total_score
513,2017-09-30,12:30,2017,POR,CHI,3,1,0.0,0.0,NaN,NaN,Elvis Osmanovic,21144.0,Providence Park,False,False,False,False,4
514,2017-09-30,19:00,2017,BOS,NJNY,3,4,0.0,0.0,NaN,NaN,Karen Abt,3497.0,Jordan Field,False,False,False,False,7
515,2017-09-30,19:00,2017,WAS,RGN,2,3,0.0,0.0,NaN,NaN,Robinson Khongsai,3780.0,Maryland SoccerPlex,False,False,False,False,5
516,2017-09-30,19:30,2017,NC,ORL,2,3,0.0,0.0,NaN,NaN,Farhad Dadkho,7020.0,WakeMed Soccer Park,False,False,False,False,5