In [7]:
import nwslpy
stats = nwslpy.load_player_season_stats("RGN", "2022")[["player_id", "goals"]]
stats = stats.set_index("player_id").join(nwslpy.load_players())
stats.sort_values("goals", ascending=False)

    player_id  goals
0         382      0
1         554      0
2         667      1
3         426      7
4         150      0
5         661      0
6         666      0
7         487      0
8         153      4
9         209      1
10        526      0
11         49      1
12        721      2
13        500      2
14        335      1
15        261      5
16        143      0
17        601      0
18        563      0
19        479      0
20        140      7
21        123      0
22        599      0
23        665      0
24        481      1

,goals,player_first_name,player_last_name,player_short_first_name,player_short_last_name,player_match_name,player_nationality,player_position,player_place_of_birth,player_known_name,last_updated
player_id,,,,,,,,,,,
140,7,Megan Anna,Rapinoe,Megan,Rapinoe,M. Rapinoe,USA,Attacker,Redding,NaN,2023-02-06
426,7,Bethany,Balcer,Bethany,Balcer,B. Balcer,USA,Attacker,NaN,NaN,2023-02-06
261,5,Rosemary Kathleen,Lavelle,Rose,Lavelle,R. Lavelle,USA,Midfielder,Cincinnati,NaN,2023-02-06
153,4,Jessica Anne,Fishlock,Jess,Fishlock,J. Fishlock,Wales,Midfielder,Cardiff,NaN,2023-02-06
721,2,Jordyn Pamela,Huitema,Jordyn,Huitema,J. Huitema,Canada,Attacker,NaN,NaN,2023-02-06
500,2,Tziarra,King,Tziarra,King,T. King,USA,Attacker,NaN,NaN,2023-02-06
209,1,Tobin,Powell Heath,Tobin,Heath,T. Heath,USA,Attacker,Morristown,NaN,2023-02-06
335,1,Veronica Anne,Latsko,Veronica,Latsko,V. Latsko,USA,Attacker,Venetia,NaN,2023-02-06
49,1,Sofia Christine,Huerta,Sofia,Huerta,S. Huerta,USA,Defender,Boise,NaN,2023-02-06
481,1,Ally,Watt,Ally,Watt,A. Watt,USA,Attacker,Colorado Springs,NaN,2023-02-06
667,1,Olivia,Athens,Olivia,Athens,O. Athens,USA,Midfielder,NaN,NaN,2023-02-06
526,0,Samantha,Hiatt,Samantha,Hiatt,S. Hiatt,USA,Defender,NaN,NaN,2023-02-06
487,0,Alana Simone,Cook,Alana,Cook,A. Cook,USA,Defender,NaN,NaN,2023-02-06
554,0,Angelina,Alonso Costantino,Angelina,Alonso Costantino,Angelina,Brazil,Midfielder,Jersey City,Angelina,2023-02-06
666,0,Marley,Canales,Marley,Canales,M. Canales,USA,Midfielder,NaN,NaN,2023-02-06
661,0,Ryanne,Brown,Ryanne,Brown,R. Brown,USA,Attacker,NaN,NaN,2023-02-06
150,0,Lauren Kate,Barnes,Lauren,Barnes,L. Barnes,USA,Defender,Arcadia,NaN,2023-02-06
143,0,Kim Alison,Little,Kim,Little,K. Little,Scotland,Midfielder,Mintlaw,NaN,2023-02-06
601,0,Jimena,López Fuentes,Jimena,López,J. López,Mexico,Defender,NaN,NaN,2023-02-06
563,0,Phoebe,McClernon,Phoebe,McClernon,P. McClernon,USA,Defender,West Chester,NaN,2023-02-06
479,0,Sinclaire,Miramontez,Sinclaire,Miramontez,S. Miramontez,USA,Defender,NaN,NaN,2023-02-06
123,0,Nicole Leslie,Stanton,Nicole,Stanton,N. Stanton,USA,Midfielder,North Bend,Nikki Stanton,2023-02-06
599,0,Phallon,Tullis-Joyce,Phallon,Tullis-Joyce,P. Tullis-Joyce,USA,Goalkeeper,New York,NaN,2023-02-06
665,0,Olivia,Van der Jagt,Olivia,Van der Jagt,O. Van der Jagt,USA,Midfielder,NaN,NaN,2023-02-06
382,0,NaN,Quinn,NaN,Quinn,Quinn,Canada,Midfielder,NaN,Quinn,2023-02-06

In [3]:
nwslpy.load_players()

,player_first_name,player_last_name,player_short_first_name,player_short_last_name,player_match_name,player_nationality,player_position,player_place_of_birth,player_known_name,last_updated
player_id,,,,,,,,,,
1,Angela Marguerite,Salem,Angela,Salem,A. Salem,USA,Midfielder,Akron,NaN,2023-02-06
2,Louise,Schillgard,Louise,Schillgard,L. Schillgard,Sweden,Midfielder,Stockholm,NaN,2023-02-06
3,Natasha Khalila,Dowie,Natasha,Dowie,N. Dowie,England,Attacker,Abu Dhabi,NaN,2023-02-06
4,Kyah Pam,Simon,Kyah,Simon,K. Simon,Australia,Attacker,Blacktown,NaN,2023-02-06
5,Kylie Allyssa,Strom,Kylie,Strom,K. Strom,USA,Defender,Endicott,NaN,2023-02-06
...,...,...,...,...,...,...,...,...,...,...
732,Shuang,Wang,Shuang,Wang,Wang Shuang,China PR,Midfielder,Hubei,Wang Shuang,2023-02-06
733,Jaedyn Reese,Shaw,Jaedyn,Shaw,J. Shaw,USA,Midfielder,NaN,NaN,2023-02-06
734,Jackie,Altschuld,Jackie,Altschuld,J. Altschuld,USA,Midfielder,NaN,NaN,2023-02-06
735,Katie,Murray,Katie,Murray,K. Murray,USA,Midfielder,NaN,NaN,2023-02-06
736,Andrea,Frerker,Andrea,Frerker,A. Frerker,USA,Midfielder,Maryville,NaN,2023-02-06