In [36]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from common import Data

In [37]:
stats = Data.get_nwsl_player_stats(include_playoffs=False)
stats

<ipython-input-37-9da79b699de8>:1: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  stats = Data.get_nwsl_player_stats(include_playoffs=False)

,season,date,home,away,player,team,number,position,is_starter,accurate_keeper_throws,...,att_lg_centre,foul_throw_in,assist_handball_won,att_pen_post,att_obp_goal,att_pen_miss,assist_post,att_lg_left,back_pass,is_playoffs
0,2016,2016-04-16,HOU,CHI,Lydia Grace Yilkari Williams,HOU,18,Goalkeeper,True,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
1,2016,2016-04-16,HOU,CHI,Poliana,HOU,2,Defender,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,2016,2016-04-16,HOU,CHI,Rebecca Moros,HOU,4,Defender,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
3,2016,2016-04-16,HOU,CHI,Allysha Chapman,HOU,15,Defender,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
4,2016,2016-04-16,HOU,CHI,Ellie Katherine Brush,HOU,24,Defender,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36774,2023 Challenge Cup,2023-08-09,NJNY,ORL,Jordyn Listro,ORL,19,Substitute,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
36775,2023 Challenge Cup,2023-08-09,NJNY,ORL,Brianna Mart√≠nez,ORL,32,Substitute,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
36776,2023 Challenge Cup,2023-08-09,NJNY,ORL,Maliah Morris,ORL,36,Substitute,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
36777,2023 Challenge Cup,2023-08-09,NJNY,ORL,Carly Nelson,ORL,31,Substitute,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
36778,2023 Challenge Cup,2023-08-09,NJNY,ORL,Ally Watt,ORL,11,Substitute,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [39]:
players = Data.get_nwsl_players()
players

,name,position,birthday,country,hometown,number,height
0,Jane Campbell,Goalkeeper,1995-02-17,USA,Kennesaw,1,"5'8"""
1,Katie Lund,Goalkeeper,1996-11-27,USA,Plano,1,"6'0"""
2,Alyssa Naeher,Goalkeeper,1988-04-20,USA,Bridgeport,1,"5'8"""
3,Anna Moorhouse,Goalkeeper,1995-03-30,England,Oldham,21,NaN
4,Bella Bixby,Goalkeeper,1995-11-20,USA,Milwaukie,1,"6'0"""
...,...,...,...,...,...,...,...
729,Kaitlyn Savage,Goalkeeper,1990-10-27,USA,NaN,25,"5'10"""
730,Bianca Henninger,Goalkeeper,1990-10-22,USA,Los Gatos,1,"5'6"""
731,Andi Tostanoski,Goalkeeper,1994-08-29,USA,Colorado Springs,24,"5'8"""
732,Emina Ekiƒá,Attacker,1999-06-06,USA,NaN,13,"5'4"""
733,Aubrey Bledsoe Kingsbury,Goalkeeper,1991-11-20,USA,Cincinnati,1,"5'10"""

In [40]:
df = stats.set_index("player")[["season", "date", "team", "mins_played"]].join(
    players.set_index("name")[["birthday"]]
)
df = df.dropna()
df = df.reset_index().rename(columns={"index": "player"})
df["date"] = pd.to_datetime(df["date"])
df["birthday"] = pd.to_datetime(df["birthday"])
df

,player,season,date,team,mins_played,birthday
0,Abby Dahlkemper,2016,2016-04-16,WNY,90.0,1993-05-13
1,Abby Dahlkemper,2016,2016-04-23,WNY,90.0,1993-05-13
2,Abby Dahlkemper,2016,2016-04-29,WNY,90.0,1993-05-13
3,Abby Dahlkemper,2016,2016-05-07,WNY,90.0,1993-05-13
4,Abby Dahlkemper,2016,2016-05-14,WNY,90.0,1993-05-13
...,...,...,...,...,...,...
25918,√âvelyne Viens,2021,2021-10-17,NJNY,1.0,1997-02-06
25919,√âvelyne Viens,2021,2021-10-28,NJNY,6.0,1997-02-06
25920,√âvelyne Viens,2021,2021-10-31,NJNY,19.0,1997-02-06
25921,√âvelyne Viens,2021 Challenge Cup,2021-04-20,NJNY,22.0,1997-02-06
25922,√âvelyne Viens,2021 Challenge Cup,2021-05-02,NJNY,1.0,1997-02-06

In [41]:
dob = df.groupby(["player", "season", "birthday"]).agg(
    {"mins_played": "sum"}
).reset_index().rename(
    columns={
        "player": "name",
        "season": "year",
        "mins_played": "minutes",
        "birthday": "dob",
    }
)

dob.to_csv("data/dob_and_minutes.csv", index=False)
dob

                 name                year        dob  minutes
0     Abby Dahlkemper                2016 1993-05-13   1710.0
1     Abby Dahlkemper                2017 1993-05-13   1980.0
2     Abby Dahlkemper                2018 1993-05-13   1710.0
3     Abby Dahlkemper                2019 1993-05-13   1260.0
4     Abby Dahlkemper  2020 Challenge Cup 1993-05-13    180.0
...               ...                 ...        ...      ...
2682        Zoe Morse                2022 1998-04-01   1709.0
2683    Zoey Goralski                2019 1995-01-22     59.0
2684    √âvelyne Viens  2020 Challenge Cup 1997-02-06    111.0
2685    √âvelyne Viens                2021 1997-02-06    241.0
2686    √âvelyne Viens  2021 Challenge Cup 1997-02-06     23.0

[2687 rows x 4 columns]

In [42]:
df["age"] = df.apply(lambda x: relativedelta(x["date"], x["birthday"]).years, axis=1)
df

,player,season,date,team,mins_played,birthday,age
0,Abby Dahlkemper,2016,2016-04-16,WNY,90.0,1993-05-13,22
1,Abby Dahlkemper,2016,2016-04-23,WNY,90.0,1993-05-13,22
2,Abby Dahlkemper,2016,2016-04-29,WNY,90.0,1993-05-13,22
3,Abby Dahlkemper,2016,2016-05-07,WNY,90.0,1993-05-13,22
4,Abby Dahlkemper,2016,2016-05-14,WNY,90.0,1993-05-13,23
...,...,...,...,...,...,...,...
25918,√âvelyne Viens,2021,2021-10-17,NJNY,1.0,1997-02-06,24
25919,√âvelyne Viens,2021,2021-10-28,NJNY,6.0,1997-02-06,24
25920,√âvelyne Viens,2021,2021-10-31,NJNY,19.0,1997-02-06,24
25921,√âvelyne Viens,2021 Challenge Cup,2021-04-20,NJNY,22.0,1997-02-06,24
25922,√âvelyne Viens,2021 Challenge Cup,2021-05-02,NJNY,1.0,1997-02-06,24

In [43]:
minutes = (
    df.rename(columns={"season": "year"})
    .groupby(["team", "year", "age"])
    .agg({"mins_played": "sum"})
    .reset_index()
    .pivot(index=["team", "year"], columns="age", values="mins_played")
)

minutes.to_csv("data/nwsl_minutes.csv")
minutes

age                        15     16  17  18     19      20      21      22  \
team year
BOS  2016                 NaN    NaN NaN NaN    NaN     NaN   100.0  1429.0
     2017                 NaN    NaN NaN NaN    NaN     NaN  1559.0  1626.0
CHI  2016                 NaN    NaN NaN NaN    NaN     NaN     NaN  1647.0
     2017                 NaN    NaN NaN NaN    NaN     NaN   134.0   327.0
     2018                 NaN    NaN NaN NaN    NaN     NaN    90.0   521.0
...                       ...    ...  ..  ..    ...     ...     ...     ...
WAS  2022                 NaN    NaN NaN NaN  270.0  1234.0     NaN   300.0
     2022 Challenge Cup   NaN    NaN NaN NaN  522.0     NaN     NaN   418.0
     2023                75.0  213.0 NaN NaN    NaN   624.0  1011.0  1731.0
     2023 Challenge Cup  74.0  251.0 NaN NaN    NaN     NaN     NaN   659.0
WNY  2016                 NaN    NaN NaN NaN    NaN    45.0  1388.0  4492.0

age                          23      24  ...     33     34  35  36  37  38  \
team year                                ...
BOS  2016                3093.0  4263.0  ...    NaN    NaN NaN NaN NaN NaN
     2017                4395.0  5899.0  ...  804.0    NaN NaN NaN NaN NaN
CHI  2016                6440.0  2912.0  ...    NaN    NaN NaN NaN NaN NaN
     2017                2682.0  6555.0  ...    NaN    NaN NaN NaN NaN NaN
     2018                 485.0  5950.0  ...    NaN    NaN NaN NaN NaN NaN
...                         ...     ...  ...    ...    ...  ..  ..  ..  ..
WAS  2022                6404.0   708.0  ...  195.0  180.0 NaN NaN NaN NaN
     2022 Challenge Cup  1529.0   387.0  ...  455.0    NaN NaN NaN NaN NaN
     2023                1951.0  4124.0  ...   19.0    NaN NaN NaN NaN NaN
     2023 Challenge Cup  1131.0  1035.0  ...   36.0    NaN NaN NaN NaN NaN
WNY  2016                5995.0  2131.0  ...    NaN    NaN NaN NaN NaN NaN

age                      39  40     41  42
team year
BOS  2016               NaN NaN    NaN NaN
     2017               NaN NaN    NaN NaN
CHI  2016               NaN NaN    NaN NaN
     2017               NaN NaN    NaN NaN
     2018               NaN NaN    NaN NaN
...                      ..  ..    ...  ..
WAS  2022               NaN NaN    NaN NaN
     2022 Challenge Cup NaN NaN    NaN NaN
     2023               NaN NaN  181.0 NaN
     2023 Challenge Cup NaN NaN  360.0 NaN
WNY  2016               NaN NaN    NaN NaN

[118 rows x 28 columns]