In [12]:
import nwslpy
import pandas as pd
from datetime import datetime

# Data from nwslR and FBRef

Data is copied over from `road-to-100/data/all_matches.csv`

In [23]:
df = pd.read_csv("data/matches.csv")
df["kickoff"] = pd.to_datetime(df["kickoff"])
df

,kickoff,season,home_team,away_team,home_team_score,away_team_score,home_penalty_score,away_penalty_score,is_playoff
0,2013-04-14 17:00:00,2013,CHI,RGN,1,1,0,0,False
1,2013-04-14 18:00:00,2013,NJY,WNY,1,0,0,0,False
2,2013-04-14 18:30:00,2013,BOS,WAS,1,1,0,0,False
3,2013-04-13 19:35:00,2013,KC,POR,1,1,0,0,False
4,2013-04-20 19:00:00,2013,WAS,WNY,1,1,0,0,False
...,...,...,...,...,...,...,...,...,...
1270,2023-10-15 17:00:00,2023,SD,LOU,0,0,0,0,False
1271,2023-10-15 17:00:00,2023,NJY,KCC,0,0,0,0,False
1272,2023-10-15 17:00:00,2023,LA,POR,0,0,0,0,False
1273,2023-10-15 17:00:00,2023,CHI,RGN,0,0,0,0,False
1274,2023-10-15 17:00:00,2023,ORL,HOU,0,0,0,0,False

In [24]:
# Filter to the regular season
df = df[df["season"].isin(list(map(str, range(2013, 2024))))]

# Remove playoff games
df = df[~df["is_playoff"]]

# Remove future games
df = df[df["kickoff"] < datetime.now()]

# Drop kickoff time
df["kickoff"] = df["kickoff"].dt.date

# Shorten column names
df = df.rename(
    columns={
        "kickoff": "date",
        "home_team": "home",
        "away_team": "away",
        "home_team_score": "home_score",
        "away_team_score": "away_score",
    }
)

# Remove unnecessary columns
df = df[["date", "season", "home", "away", "home_score", "away_score"]]

# Reset index
df = df.reset_index(drop=True)

df

           date season home away  home_score  away_score
0    2013-04-14   2013  CHI  RGN           1           1
1    2013-04-14   2013  NJY  WNY           1           0
2    2013-04-14   2013  BOS  WAS           1           1
3    2013-04-13   2013   KC  POR           1           1
4    2013-04-20   2013  WAS  WNY           1           1
..          ...    ...  ...  ...         ...         ...
993  2023-04-22   2023  WAS  HOU           0           0
994  2023-04-22   2023  NJY   NC           1           0
995  2023-04-22   2023  POR  LOU           2           0
996  2023-04-23   2023  KCC  ORL           2           0
997  2023-04-23   2023   LA   SD           0           2

[998 rows x 6 columns]

In [25]:
df.to_csv("data/cleaned.csv", index=False)