In [1]:
import pandas as pd
from common import Data

In [10]:
results = pd.DataFrame([], columns=["season", "team", "rank"])

In [22]:
season = "2013"
for season in range(2013, 2025):
    if season == 2020:
        continue
    df = Data.get_nwsl_matches(season=str(season))
    df = df[~df["is_playoffs"]]
    df = Data.get_nwsl_standings(df).reset_index().rename(columns={"index": "rank"})
    df["season"] = season
    results = pd.concat([results, df[["season", "team", "rank"]]])
results

   season  team rank
0    2013   WNY    1
1    2013    KC    2
2    2013   POR    3
3    2013  NJNY    4
4    2013   BOS    5
..    ...   ...  ...
9    2024   HOU   10
10   2024    LA   11
11   2024   BAY   12
12   2024   RGN   13
13   2024   UTA   14

[120 rows x 3 columns]

In [23]:
results.to_csv("historical_ranks.csv", index=False)