In [1]:
import pandas as pd
from common import Data

In [12]:
results = pd.DataFrame([], columns=["season", "team", "rank"])
for season in range(2013, 2025):
    if season == 2020:
        continue
    df = Data.get_nwsl_matches(season=str(season))
    df = df[~df["is_playoffs"]]
    df = Data.get_nwsl_standings(df).reset_index().rename(columns={"index": "rank"})
    df["season"] = season
    df["games"] = df["wins"] + df["losses"] + df["draws"]
    results = pd.concat([results, df[["season", "team", "rank", "points", "games"]]])
results

   season team rank  points  games
0    2013  WNY    1    38.0   22.0
1    2013   KC    2    38.0   22.0
2    2013  POR    3    38.0   22.0
3    2013  GFC    4    36.0   22.0
4    2013  BOS    5    30.0   22.0
..    ...  ...  ...     ...    ...
9    2024   SD   10    25.0   26.0
10   2024  UTA   11    25.0   26.0
11   2024   LA   12    24.0   26.0
12   2024  RGN   13    23.0   26.0
13   2024  HOU   14    20.0   26.0

[112 rows x 5 columns]

In [16]:
results["points_ratio"] = results["points"] / (results["games"] * 3)

In [17]:
results.to_csv("historical_ranks.csv", index=False)