In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from common import NWSL, Fonts, Images, Colors, add_twitter_handle
from scipy.interpolate import interp1d

In [3]:
df = pd.read_csv("historical_ranks.csv")
df

     season  team  rank
0      2013   WNY     1
1      2013    KC     2
2      2013   POR     3
3      2013  NJNY     4
4      2013   BOS     5
..      ...   ...   ...
115    2024   HOU    10
116    2024    LA    11
117    2024   BAY    12
118    2024   RGN    13
119    2024   UTA    14

[120 rows x 3 columns]

In [7]:
df.groupby("team").agg

        team                                               ... rank            \
season  2013 2014 2015 2016 2017 2018 2019 2021 2022 2023  ... 2014 2015 2016
0        WNY  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
1         KC  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
2        POR  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
3       NJNY  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
4        BOS  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
..       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
115      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
116      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
117      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
118      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN
119      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN


season 2017 2018 2019 2021 2022 2023  2024
0       NaN  NaN  NaN  NaN  NaN  NaN   NaN
1       NaN  NaN  NaN  NaN  NaN  NaN   NaN
2       NaN  NaN  NaN  NaN  NaN  NaN   NaN
3       NaN  NaN  NaN  NaN  NaN  NaN   NaN
4       NaN  NaN  NaN  NaN  NaN  NaN   NaN
..      ...  ...  ...  ...  ...  ...   ...
115     NaN  NaN  NaN  NaN  NaN  NaN  10.0
116     NaN  NaN  NaN  NaN  NaN  NaN  11.0
117     NaN  NaN  NaN  NaN  NaN  NaN  12.0
118     NaN  NaN  NaN  NaN  NaN  NaN  13.0
119     NaN  NaN  NaN  NaN  NaN  NaN  14.0

[120 rows x 22 columns]