In [18]:
import math
import pandas as pd
from common import Data, Playoffs

In [ ]:
# TODO: Prove clinching scenario

# Strategy 1: Pick subsets of 8 teams to win out
# 1. Get Standings between teams
# 2. Assume KC loses all remaining games and teams below the line lose all games
# 3. For each subset of 8 teams
#   a) Find teams that can't lose and mark rest of their games as wins
#   b) Calculate if it is possible for remaining teams to pass KC

# Strategy 2: Enumerate all possible remaining scores
# 1. Get standings between teams
# 2. Assume KC loses all remaining games and teams below the line lose all games
# 3. Enumerate all possible combinations of w/l/d for remaining games
# 4. Check if scenario has >= 8 teams tied on points with KC

In [8]:
df = pd.DataFrame(
    [
        [2, "WAS", 17, 31, 58],
        [3, "SD", 18, 30, 54],
        [4, "ORL", 18, 28, 52],
        [5, "RGN", 18, 27, 51],
        [6, "POR", 18, 26, 50],
        [7, "LOU", 18, 26, 50],
        [8, "NJY", 18, 24, 48],
        [9, "NC", 18, 22, 46],
        [11, "HOU", 18, 20, 44],
    ],
    columns=["rank", "team", "games", "points", "max_points"],
)
df.set_index("rank", inplace=True)
df

     team  games  points  max_points
rank
2     WAS     17      31          58
3      SD     18      30          54
4     ORL     18      28          52
5     RGN     18      27          51
6     POR     18      26          50
7     LOU     18      26          50
8     NJY     18      24          48
9      NC     18      22          46
11    HOU     18      20          44

In [20]:
kc_points = 44

for _, r in df.iterrows():
    team_to_skip = r["team"]
    total_points_needed = 0
    for _, row in df.iterrows():
        if row["team"] == team_to_skip:
            continue
        points_needed = row["max_points"] - kc_points
        if points_needed == 1:
            points_needed - 0
        total_points_needed += points_needed
    games_to_drop = math.floor(total_points_needed / 3)
    print(
        "Everyone except",
        team_to_skip,
        "needs points:",
        total_points_needed,
        "games to drop:",
        games_to_drop,
    )

Everyone except WAS needs points: 43 games to drop: 14
Everyone except SD needs points: 47 games to drop: 15
Everyone except ORL needs points: 49 games to drop: 16
Everyone except RGN needs points: 50 games to drop: 16
Everyone except POR needs points: 51 games to drop: 17
Everyone except LOU needs points: 51 games to drop: 17
Everyone except NJY needs points: 53 games to drop: 17
Everyone except NC needs points: 55 games to drop: 18
Everyone except HOU needs points: 57 games to drop: 19