In [8]:
import pandas as pd
from common import Data

In [9]:
df = pd.read_csv("data/2024.csv")

In [20]:
def get_standings(df):
    df["season"] = "2024"
    result = Data.get_nwsl_standings(df)
    result["games"] = result["wins"] + result["draws"] + result["losses"]
    result["max_points"] = result["points"] + 3 * (26 - result["games"])
    result = result[["team", "games", "points", "max_points"]].sort_values(["max_points"], ascending=False)
    result = result.reset_index(drop=True)
    result.index = result.index + 1
    return result


def add_results(df, scores):
    result = df.copy()

    for home, home_score, away, away_score in scores:
        result.loc[
            (df["home"] == home) & (df["away"] == away), ["home_score", "away_score"]
        ] = [home_score, away_score]

    return result


def get_matches_between(df, a, b):
    remaining = df[df["home_score"].isna()]
    count = len(
        remaining[
            ((remaining["home"] == a) & (remaining["away"] == b))
            | ((remaining["home"] == b) & (remaining["away"] == a))
        ].index
    )
    if count > 0:
        print(a, b, count)

In [6]:
# ("WAS", 0, "HOU", 0),
# ("NC", 0, "BFC", 0),
# ("POR", 0, "CHI", 0),
# ("LOU", 0, "LA", 0),
# ("ORL", 0, "KC", 0),
# ("RGN", 0, "NJY", 0),


new_schedule = add_results(
    df,
    [
        ("RGN", 0, "NJY", 1),
        ("LOU", 0, "LA", 0),
    ],
)
get_standings(new_schedule)

   team  games  points  max_points
1   ORL     20      48          66
2   WAS     19      41          62
3   NJY     20      40          58
4    KC     20      39          57
5    NC     20      32          50
6   POR     20      27          45
7   CHI     20      26          44
8   BFC     20      25          43
9    LA     20      22          40
10  LOU     20      20          38
11  RGN     20      20          38
12   SD     19      16          37
13  UTA     19      15          36
14  HOU     19      14          35

In [7]:
teams = ["NC", "POR", "CHI", "BFC", "LA"]

for a in teams:
    for b in teams:
        if a > b:
            get_matches_between(new_schedule, a, b)

NC CHI 1
NC BFC 1
NC LA 1
POR LA 2

In [25]:
df_2021 = Data.get_nwsl_matches()
df_2021 = df_2021[(df_2021["season"] == "2021") & (~df_2021["is_playoffs"])]
df_2021.loc[df_2021["date"] > "2021-10-13", ["home_score", "away_score"]] = None
get_standings(df_2021)

    team  games  points  max_points
1    POR     22      40          52
2    RGN     22      39          51
3   NJNY     20      29          47
4    WAS     22      33          45
5     NC     22      32          44
6    HOU     22      32          44
7    CHI     22      32          44
8    ORL     22      28          40
9    LOU     21      17          32
10   KCC     21      15          30

In [23]:
teams = ["CHI", "ORL", "WAS", "NJNY", "HOU", "NC"]

for a in teams:
    for b in teams:
        if a > b:
            get_matches_between(df_2021, a, b)

ORL CHI 2
WAS HOU 1
WAS NC 1
NJNY NC 1

In [ ]:
CHI and ORL both were missing tiebreaker against RGN

In [24]:
df_2021

,date,time,season,home,away,home_score,away_score,home_penalty_score,away_penalty_score,home_xg,away_xg,referee,attendance,stadium,is_forfeit,is_extra_time,is_pks,is_playoffs
805,2021-05-15,17:00,2024,LOU,KCC,0.0,0.0,0.0,0.0,0.8,0.5,Adorae Monroy,6622.0,Lynn Family Stadium,False,False,False,False
806,2021-05-15,19:00,2024,NJNY,HOU,1.0,0.0,0.0,0.0,0.7,2.1,Danielle Chesky,NaN,Red Bull Arena,False,False,False,False
807,2021-05-15,19:00,2024,RGN,NC,0.0,0.0,0.0,0.0,0.7,1.6,Karen Abt,2104.0,Cheney Stadium,False,False,False,False
808,2021-05-16,16:00,2024,POR,CHI,5.0,0.0,0.0,0.0,3.6,0.2,Katja Koroleva,NaN,Providence Park,False,False,False,False
809,2021-05-16,18:00,2024,ORL,WAS,1.0,1.0,0.0,0.0,1.4,2.1,Karen Callado,NaN,Exploria Stadium,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,2021-10-29,19:00,2024,ORL,CHI,NaN,NaN,0.0,0.0,0.2,1.1,Elvis Osmanovic,NaN,Exploria Stadium,False,False,False,False
921,2021-10-30,19:00,2024,POR,NC,NaN,NaN,0.0,0.0,1.8,1.4,Greg Dopka,17584.0,Providence Park,False,False,False,False
922,2021-10-30,20:00,2024,KCC,RGN,NaN,NaN,0.0,0.0,0.8,2.8,Laura Rodriguez,6345.0,Legends Field,False,False,False,False
923,2021-10-31,14:00,2024,WAS,HOU,NaN,NaN,0.0,0.0,1.4,0.6,Danielle Chesky,4542.0,Audi Field,False,False,False,False
924,2021-10-31,15:00,2024,NJNY,LOU,NaN,NaN,0.0,0.0,1.6,1.4,Karen Abt,6362.0,Red Bull Arena,False,False,False,False