In [2]:
import pandas as pd
from common import Data

In [3]:
df = pd.read_csv("2024.csv")

In [4]:
def get_standings(df):
    df["season"] = "2024"
    result = Data.get_nwsl_standings(df)
    result["games"] = result["wins"] + result["draws"] + result["losses"]
    result["max_points"] = result["points"] + 3 * (26 - result["games"])
    return result[["team", "games", "points", "max_points"]]


def add_results(df, scores):
    result = df.copy()

    for home, home_score, away, away_score in scores:
        result.loc[
            (df["home"] == home) & (df["away"] == away), ["home_score", "away_score"]
        ] = [home_score, away_score]

    return result


def get_matches_between(df, a, b):
    remaining = df[df["home_score"].isna()]
    count = len(
        remaining[
            ((remaining["home"] == a) & (remaining["away"] == b))
            | ((remaining["home"] == b) & (remaining["away"] == a))
        ].index
    )
    if count > 0:
        print(a, b, count)

In [5]:
# ("WAS", 0, "HOU", 0)
# ("NC", 0, "BFC", 0)
# ("POR", 0, "CHI", 0)
# ("LOU", 0, "LA", 0)
# ("ORL", 0, "KC", 0)
# ("RGN", 0, "NJY", 0)


new_schedule = add_results(
    df,
    [
        ("ORL", 0, "KC", 1),
        ("NC", 1, "BFC", 0),
        ("POR", 0, "CHI", 1),
    ],
)
get_standings(new_schedule)

   team  games  points  max_points
1   ORL     20      47          65
2   WAS     19      41          62
3    KC     20      41          59
4   NJY     19      37          58
5    NC     20      34          52
6   POR     20      27          45
7   CHI     20      26          44
8   BFC     20      24          42
9    LA     19      21          42
10  RGN     19      20          41
11  LOU     19      19          40
12   SD     19      16          37
13  UTA     19      15          36
14  HOU     19      14          35

In [6]:
teams = ["POR", "CHI", "BFC", "LA", "RGN"]

for a in teams:
    for b in teams:
        if a > b:
            get_matches_between(new_schedule, a, b)

POR LA 2
RGN BFC 1
RGN LA 1