In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("web/all_matches.csv")
df

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards,is_playoff,is_challenge_cup,is_fall_series,position
0,2013-04-14,2013,CHI,1,1,0,0,90,0,0,False,False,False,LB
1,2013-04-21,2013,POR,1,2,0,0,84,0,0,False,False,False,LB
2,2013-04-26,2013,KC,0,2,0,0,78,0,0,False,False,False,LB
3,2013-05-04,2013,KC,0,1,0,0,90,0,0,False,False,False,LB
4,2013-05-11,2013,NJY,0,2,0,0,75,0,0,False,False,False,LB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,2023-05-14,2023,NC,0,1,0,0,83,0,0,False,False,False,LB
209,2023-05-21,2023,NJY,1,4,0,0,64,0,0,False,False,False,LB
210,2023-05-27,2023,LA,4,1,0,0,90,0,0,False,False,False,LB
211,2023-06-03,2023,POR,0,2,0,0,90,0,0,False,False,False,LB
212,2023-06-10,2023,KC,2,1,0,0,90,0,0,False,False,False,LB

In [3]:
# Total Reign games
reign_games = len(df.index)
reign_games

213

In [4]:
# Lauren Barnes games
df_barnes = df[df["minutes"] > 0]
barnes_games = len(df_barnes.index)

print("Barnes has played " + str(barnes_games) + " games")
print("This is " + str(barnes_games/reign_games*100) + "%")

Barnes has played 200 games
This is 93.89671361502347%

In [5]:
def get_result(row):
    if row["goals_for"] > row["goals_against"]:
        return "W"
    elif row["goals_for"] < row["goals_against"]:
        return "L"
    else:
        return "D"
df_barnes["result"] = df_barnes.apply(get_result, axis=1)

df_barnes.groupby("result").agg(count=("result", "count"))

<ipython-input-5-c49cf49f18f4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_barnes["result"] = df_barnes.apply(get_result, axis=1)

        count
result
D          49
L          56
W          95

In [6]:
df_barnes.groupby("position").agg(count=("position", "count"))

          count
position
CB            2
LB           65
LCB         133

In [7]:
print("Total minutes played: " + str(df_barnes["minutes"].sum()))
print("Number of full 90s: " + str(len(df_barnes[df_barnes["minutes"] >= 90].index)))

Total minutes played: 17321
Number of full 90s: 177

In [8]:
shutouts = len(df_barnes[df_barnes["goals_against"] == 0].index)
print("Total shutouts: " + str(shutouts))

Total shutouts: 58

In [9]:
print("Total assists: " + str(df_barnes["assists"].sum()))

Total assists: 6

In [10]:
print("Total goals: " + str(df_barnes["goals"].sum()))

Total goals: 2