In [1]:
import nwslpy
import pandas as pd
import datetime

# Read 2016-now data from nwslR

In [2]:
players = nwslpy.load_players()
player_id = players[players["player_last_name"] == "Barnes"].index[0]
player_id

150

In [12]:
teams = nwslpy.load_teams()
team_id = teams[teams["team_abbreviation"] == "RGN"].index[0]
team_id

6

In [4]:

stats = nwslpy.load_player_season_stats("RGN", "2016")
stats[stats["player_id"] == player_id]
stats = stats[["season"]]

In [5]:
# Get all matches
matches = nwslpy.load_matches()
matches

,home_team_id,away_team_id,kickoff,time,stadium,city,year,season,home_team_score,away_team_score,home_penalty_score,away_penalty_score,won_on_penalties,last_updated
match_id,,,,,,,,,,,,,,
washington-spirit-vs-boston-breakers-2016-04-16,9,1,2016-04-16 19:00:00,19:00:00,NaN,NaN,2016,2016,1,0,0,0,False,2023-03-12
houston-dash-vs-chicago-red-stars-2016-04-16,4,2,2016-04-16 20:30:00,20:30:00,Shell Energy Stadium,"Houston, Texas",2016,2016,3,1,0,0,False,2023-03-12
fc-kansas-city-vs-western-new-york-flash-2016-04-16,3,10,2016-04-16 20:30:00,20:30:00,Children's Mercy Park,"Kansas City, Kansas",2016,2016,0,1,0,0,False,2023-03-12
seatle-reign-fc-vs-sky-blue-fc-2016-04-17,6,5,2016-04-17 19:00:00,19:00:00,UW Medicine Pitch at Memorial Stadium,Seattle,2016,2016,1,2,0,0,False,2023-03-12
portland-thorns-fc-vs-orlando-pride-2016-04-17,8,7,2016-04-17 22:00:00,22:00:00,Providence Park,"Portland, Oregon",2016,2016,2,1,0,0,False,2023-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
san-diego-wave-fc-vs-angel-city-fc-2023-08-05,16,15,2023-08-05 19:30:00,19:30:00,Snapdragon Stadium,"San Diego, California",2023,2023 Challenge Cup,0,0,0,0,False,2023-05-01
nj-ny-gotham-fc-vs-north-carolina-courage-2023-08-05,5,11,2023-08-05 19:30:00,19:30:00,Red Bull Arena,"Harrison, New Jersey",2023,2023 Challenge Cup,0,0,0,0,False,2023-05-01
chicago-red-stars-vs-houston-dash-2023-08-05,2,4,2023-08-05 20:00:00,20:00:00,SeatGeek Stadium,"Bridgeview, Illinois",2023,2023 Challenge Cup,0,0,0,0,False,2023-05-01
ol-reign-vs-portland-thorns-fc-2023-08-06,6,8,2023-08-06 18:00:00,18:00:00,Lumen Field,"Seattle, Washington",2023,2023 Challenge Cup,0,0,0,0,False,2023-05-01
chicago-red-stars-vs-north-carolina-courage-2023-06-10,2,11,2023-06-10 20:00:00,20:00:00,SeatGeek Stadium,"Bridgeview, Illinois",2023,2023,0,0,0,0,False,2023-05-01

In [6]:
# Filter to Reign matches
matches = matches[(matches["home_team_id"] == team_id) | (matches["away_team_id"] == team_id)]

# Filter to regular season
matches = matches[matches["season"].isin(map(str, range(2016, 2024)))]

# Calculate whether each game is part of the playoffs
playoffs = {
    "2023 Challenge Cup": datetime.date(2023, 8, 7),
    "2023": datetime.date(2023, 10, 21),
    "2022 Challenge Cup": datetime.date(2022, 5, 3),
    "2022": datetime.date(2022, 10, 15),
    "2021 Challenge Cup": datetime.date(2021, 5, 7),
    "2021": datetime.date(2021, 11, 6),
    "2020 Fall Series": datetime.date(2020, 10, 18),
    "2020 Challenge Cup": datetime.date(2020, 7, 16),
    "2019": datetime.date(2019, 10, 19),
    "2018": datetime.date(2018, 9, 14),
    "2017": datetime.date(2017, 10, 6),
    "2016": datetime.date(2016, 9, 29),
}
matches["is_playoff"] = matches.apply(
    lambda row: row["kickoff"] > pd.Timestamp(playoffs[row["season"]]), axis=1
)
matches = matches[~matches["is_playoff"]]

In [ ]:
df = pd.DataFrame(
    [],
    columns=[
        "date",
        "season",
        "opponent",
        "goals_for",
        "goals_against",
        "goals",
        "assists",
        "minutes",
        "yellow_cards",
        "red_cards",
    ],
)

In [43]:
dates = list(df["date"].apply(lambda x: x.strftime("%Y-%m-%d")))

for i, row in matches.iterrows():
    if row["kickoff"].strftime("%Y-%m-%d") in dates:
        continue
    elif row["kickoff"] > datetime.datetime.now():
        continue
    elif i == "houston-dash-vs-seatle-reign-fc-2017-09-03":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "HOU",
                "goals_for": 1,
                "goals_against": 0,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    elif i == "ol-reign-vs-chicago-red-stars-2021-06-22":
        continue
    elif i == "chicago-red-stars-vs-ol-reign-2021-07-18":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "CHI",
                "goals_for": 1,
                "goals_against": 3,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    elif i == "washington-spirit-vs-ol-reign-2021-09-12":
        continue
    elif i == "ol-reign-vs-chicago-red-stars-2021-10-10":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "CHI",
                "goals_for": 3,
                "goals_against": 2,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    elif i == "ol-reign-vs-kansas-city-current-2022-05-25":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "KCC",
                "goals_for": 1,
                "goals_against": 0,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    elif i == "washington-spirit-vs-ol-reign-2023-03-26":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "WAS",
                "goals_for": 0,
                "goals_against": 1,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    elif i == "nj-ny-gotham-fc-vs-ol-reign-2023-04-01":
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": "NJY",
                "goals_for": 2,
                "goals_against": 0,
                "goals": 0,
                "assists": 0,
                "minutes": 90,
                "yellow_cards": 0,
                "red_cards": 0,
            }, ignore_index=True
        )
        continue
    try:
        stats = nwslpy.load_player_match_stats(i)
    except:
        print(i)
        break
    if "player_id" not in stats:
        print(i)
        continue
    stats = stats[stats["player_id"] == player_id]
    if len(stats.index) < 1:
        continue
    stats = stats.iloc[0]

    if row["home_team_id"] == team_id:
        opponent = row["away_team_id"]
        goals_for = row["home_team_score"]
        goals_against = row["away_team_score"]
    else:
        opponent = row["home_team_id"]
        goals_for = row["away_team_score"]
        goals_against = row["home_team_score"]
    if "minutes" in stats and stats["minutes"] > 0:
        df = df.append(
            {
                "date": row["kickoff"].date(),
                "season": row["season"],
                "opponent": teams.loc[opponent]["team_abbreviation"],
                "goals_for": goals_for,
                "goals_against": goals_against,
                "goals": stats["goals"] if "goals" in stats else 0,
                "assists": stats["assists_total"] if "assists_total" in stats else None,
                "minutes": stats["minutes"],
                "yellow_cards": stats["yellow_cards"] if "yellow_cards" in stats else 0,
                "red_cards": stats["red_cards"] if "red_cards" in stats else 0,
            }, ignore_index=True
        )
df

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards,is_playoff
0,2013-04-14 00:00:00,2013,CHI,1,1,0,0,90,0,0,NaN
1,2013-04-21 00:00:00,2013,POR,1,2,0,0,84,0,0,NaN
2,2013-04-26 00:00:00,2013,KC,0,2,0,0,78,0,0,NaN
3,2013-05-04 00:00:00,2013,KC,0,1,0,0,90,0,0,NaN
4,2013-05-11 00:00:00,2013,NJY,0,2,0,0,75,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
191,2023-04-15,2023,SD,1,0,0,1,90,0,0,NaN
192,2023-04-22,2023,CHI,5,2,0,1,90,0,0,NaN
193,2023-04-29,2023,LOU,2,2,0,1,90,0,0,NaN
194,2023-03-26,2023,WAS,0,1,0,0,90,0,0,NaN
195,2023-04-01,2023,NJY,2,0,0,0,90,0,0,NaN

# Read 2013-2015 data from fbref

In [8]:
years = ["2013", "2014", "2015"]

fbref = pd.DataFrame([]);

for year in years:
    df = pd.read_csv("data/" + year + ".csv")
    teams = {
        "Dash": "HOU",
        "Thorns": "POR",
        "Spirit": "WAS",
        "Reign": "RGN",
        "Kansas City": "KC",
        "Sky Blue": "NJY",
        "Flash": "WNY",
        "Boston": "BOS",
        "Red Stars": "CHI",
    }
    df["opponent"] = df["Opponent"].apply(lambda x: teams[x])
    df["date"] = df["Date"]
    df["goals_for"] = df.apply(lambda row: int(row["Result"][2:].split("â€“")[0]), axis=1)
    df["goals_against"] = df.apply(lambda row: int(row["Result"][2:].split("â€“")[1]), axis=1)
    df["season"] = year
    df["is_playoff"] = df["Round"] != "Regular Season"
    df["goals"] = df["Gls"]
    df["assists"] = df["Ast"]
    df["minutes"] = df["Min"]
    df["yellow_cards"] = df["CrdY"]
    df["red_cards"] = df["CrdR"]

    df = df[
        [
            "date",
            "season",
            "opponent",
            "goals_for",
            "goals_against",
            "goals",
            "assists",
            "minutes",
            "yellow_cards",
            "red_cards",
            "is_playoff"
        ]
    ]
    
    fbref = fbref.append(df)
    
# Remove playoff games and column
fbref = fbref[~fbref["is_playoff"]]
fbref = fbref.drop(columns=["is_playoff"])

fbref

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards
0,2013-04-14,2013,CHI,1,1,0,0,90,0,0
1,2013-04-21,2013,POR,1,2,0,0,84,0,0
2,2013-04-26,2013,KC,0,2,0,0,78,0,0
3,2013-05-04,2013,KC,0,1,0,0,90,0,0
4,2013-05-11,2013,NJY,0,2,0,0,75,0,0
...,...,...,...,...,...,...,...,...,...,...
15,2015-08-12,2015,HOU,2,1,0,0,90,0,0
16,2015-08-21,2015,HOU,3,0,0,1,90,0,0
17,2015-08-26,2015,BOS,3,1,0,0,90,0,0
18,2015-08-29,2015,NJY,1,1,0,0,90,0,0
19,2015-09-05,2015,WAS,2,1,0,0,90,0,0

In [9]:
# Convert to datetimes
fbref["date"] = pd.to_datetime(fbref["date"])
df["date"] = pd.to_datetime(df["date"])

df = fbref.append(df).sort_values("date")

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards,is_playoff
0,2013-04-14,2013,CHI,1,1,0,0,90,0,0,NaN
1,2013-04-21,2013,POR,1,2,0,0,84,0,0,NaN
2,2013-04-26,2013,KC,0,2,0,0,78,0,0,NaN
3,2013-05-04,2013,KC,0,1,0,0,90,0,0,NaN
4,2013-05-11,2013,NJY,0,2,0,0,75,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18,2015-08-29,2015,NJY,1,1,0,0,90,0,0,False
19,2015-09-05,2015,WAS,2,1,0,0,90,0,0,False
19,2015-09-05,2015,WAS,2,1,0,0,90,0,0,NaN
20,2015-09-13,2015,WAS,3,0,0,0,90,0,0,True
21,2015-10-01,2015,KC,0,1,0,0,90,0,0,True

In [48]:
# Cleaning duplicates
df["date"] = pd.to_datetime(df["date"])
df = df.drop_duplicates(subset="date", keep="first")
df = df.reset_index(drop=True)
df = df[df["is_playoff"] != True]
df = df.drop(columns=["is_playoff"])
df

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards
0,2013-04-14,2013,CHI,1,1,0,0,90,0,0
1,2013-04-21,2013,POR,1,2,0,0,84,0,0
2,2013-04-26,2013,KC,0,2,0,0,78,0,0
3,2013-05-04,2013,KC,0,1,0,0,90,0,0
4,2013-05-11,2013,NJY,0,2,0,0,75,0,0
...,...,...,...,...,...,...,...,...,...,...
191,2023-04-15,2023,SD,1,0,0,1,90,0,0
192,2023-04-22,2023,CHI,5,2,0,1,90,0,0
193,2023-04-29,2023,LOU,2,2,0,1,90,0,0
194,2023-03-26,2023,WAS,0,1,0,0,90,0,0
195,2023-04-01,2023,NJY,2,0,0,0,90,0,0

In [49]:
df.to_csv("data/all_matches.csv", index=False)
df

,date,season,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards
0,2013-04-14,2013,CHI,1,1,0,0,90,0,0
1,2013-04-21,2013,POR,1,2,0,0,84,0,0
2,2013-04-26,2013,KC,0,2,0,0,78,0,0
3,2013-05-04,2013,KC,0,1,0,0,90,0,0
4,2013-05-11,2013,NJY,0,2,0,0,75,0,0
...,...,...,...,...,...,...,...,...,...,...
191,2023-04-15,2023,SD,1,0,0,1,90,0,0
192,2023-04-22,2023,CHI,5,2,0,1,90,0,0
193,2023-04-29,2023,LOU,2,2,0,1,90,0,0
194,2023-03-26,2023,WAS,0,1,0,0,90,0,0
195,2023-04-01,2023,NJY,2,0,0,0,90,0,0

In [46]:
df.groupby("season").count()

,date,opponent,goals_for,goals_against,goals,assists,minutes,yellow_cards,red_cards,is_playoff
season,,,,,,,,,,
2013,22,22,22,22,22,22,22,22,22,0
2014,23,23,23,23,23,23,23,23,23,0
2015,22,22,22,22,22,22,22,22,22,14
2016,20,20,20,20,20,20,20,20,20,0
2017,22,22,22,22,22,22,22,22,22,0
2018,19,19,19,19,19,19,19,19,19,0
2019,23,23,23,23,23,23,23,23,23,0
2021,21,21,21,21,21,21,21,21,21,0
2022,19,19,19,19,19,19,19,19,19,0
2023,5,5,5,5,5,5,5,5,5,0