# Just add data manually

In [18]:
import nwslpy
import pandas as pd
import numpy as np
import datetime
import time
import math

# Read 2013-2023 data from fbref

In [19]:
years = list(map(str, filter(lambda x: x != 2020, range(2013, 2024))))

fbref = pd.DataFrame([]);

for year in years:
    df = pd.read_csv("data/raw/" + year + ".csv")
    teams = {
        "Dash": "HOU",
        "Thorns": "POR",
        "Spirit": "WAS",
        "Reign": "RGN",
        "Kansas City": "KC",
        "Sky Blue": "NJY",
        "Flash": "WNY",
        "Boston": "BOS",
        "Red Stars": "CHI",
        "Pride": "ORL",
        "Utah": "UTA",
        "Current": "KCC",
        "Courage": "NC",
        "Louisville": "LOU",
        "Wave": "SD",
        "Angel City":"LA",
        "Gotham FC": "NJY",
    }
    df["team"] = df["Squad"].apply(lambda x: teams[x])
    df["opponent"] = df["Opponent"].apply(lambda x: teams[x])
    df["date"] = df["Date"]
    df["goals_for"] = df.apply(lambda row: int(row["Result"][2:].split("–")[0]), axis=1)
    df["goals_against"] = df.apply(lambda row: int(row["Result"][2:].split("–")[1]), axis=1)
    df["season"] = year
    df["is_playoff"] = df["Round"] != "Regular Season"
    df["goals"] = df["Gls"]
    df["assists"] = df["Ast"]
    df["minutes"] = df["Min"]
    df["yellow_cards"] = df["CrdY"]
    df["red_cards"] = df["CrdR"]

    df = df[
        [
            "date",
            "season",
            "team",
            "opponent",
            "goals_for",
            "goals_against",
            "goals",
            "assists",
            "minutes",
        ]
    ]
    
    fbref = fbref.append(df)

fbref

,date,season,team,opponent,goals_for,goals_against,goals,assists,minutes
0,2013-04-14,2013,WNY,NJY,0,1,0,0,90
1,2013-04-20,2013,WNY,WAS,1,1,0,0,79
2,2013-04-27,2013,WNY,BOS,1,2,0,0,90
3,2013-05-01,2013,WNY,NJY,2,1,0,0,90
4,2013-05-11,2013,WNY,KC,2,1,0,0,90
...,...,...,...,...,...,...,...,...,...
6,2023-05-14,2023,NJY,ORL,0,0,0,0,16
7,2023-05-21,2023,NJY,RGN,4,1,0,0,10
8,2023-05-28,2023,NJY,WAS,1,1,0,0,8
9,2023-06-04,2023,NJY,SD,0,1,0,0,29
10,2023-06-11,2023,NJY,HOU,1,1,0,0,18

In [20]:
fbref.to_csv("data/fbref_matches.csv", index=False)
fbref.to_csv("web/all_matches.csv", index=False)

In [23]:
fbref.sum()

date             2013-04-142013-04-202013-04-272013-05-012013-0...
season           2013201320132013201320132013201320132013201320...
team             WNYWNYWNYWNYWNYWNYWNYWNYWNYWNYWNYWNYWNYWNYWNYW...
opponent         NJYWASBOSNJYKCCHIBOSNJYWASCHIRGNWASCHIKCRGNPOR...
goals_for                                                      316
goals_against                                                  246
goals                                                           16
assists                                                          6
minutes                                                      15858
dtype: object