In [11]:
import numpy as np
import pandas as pd

In [16]:
year = "2015"
df = pd.read_csv("data/raw_minutes_" + year + ".csv")
df = df.rename(columns = {
    "Player_Name": "player",
    "Team": "team",
    "Matchday": "date",
    "Min": "minutes",
})
df

                 player    team  minutes        date
0           Erin McLeod  Canada       90  2015-06-06
1     Kadeisha Buchanan  Canada       90  2015-06-06
2        Josée Bélanger  Canada       90  2015-06-06
3     Lauren Sesselmann  Canada       90  2015-06-06
4         Desiree Scott  Canada       71  2015-06-06
...                 ...     ...      ...         ...
2372     Yuika Sugasawa   Japan       51  2015-07-05
2373      Mana Iwabuchi   Japan       30  2015-07-05
2374      Yuri Kawamura   Japan        0  2015-07-05
2375     Asano Nagasato   Japan        0  2015-07-05
2376      Kana Kitahara   Japan        0  2015-07-05

[2377 rows x 4 columns]

In [17]:
result = pd.DataFrame(
    [],
    columns=[
        "team",
        "group_1",
        "group_2",
        "group_3",
        "round_of_16",
        "quarterfinals",
        "semifinals",
        "finals",
    ],
)
result.index.name = "player"


def get_i_row(df, player, i):
    subset = df[df["player"] == player].sort_values("date", ascending=True)
    team = subset.iloc[0]["team"]
    dates = df[df["team"] == team]["date"].unique()
    if i < len(dates):
        subset = subset[subset["date"] == dates[i]]
        if len(subset.index) < 1:
            return 0
        else:
            time = subset.iloc[0]["minutes"]
            return 0 if pd.isna(time) else time
    else:
        return None


for player in df["player"].unique():
    result.loc[player] = [df[df["player"] == player].iloc[0]["team"]] + [
        get_i_row(df, player, i) for i in range(0, 7)
    ]


result

,team,group_1,group_2,group_3,round_of_16,quarterfinals,semifinals,finals
player,,,,,,,,
Erin McLeod,Canada,90,90,90,90,90,None,None
Kadeisha Buchanan,Canada,90,90,90,90,90,None,None
Josée Bélanger,Canada,90,90,90,90,90,None,None
Lauren Sesselmann,Canada,90,68,0,90,90,None,None
Desiree Scott,Canada,71,73,29,90,77,None,None
...,...,...,...,...,...,...,...,...
Park Hee-young,Korea Republic,0,0,13,12,None,None,None
Kim Hye-yeong,Korea Republic,0,0,0,0,None,None,None
Kim Soo-yun,Korea Republic,0,0,45,90,None,None,None
Lee So-dam,Korea Republic,13,0,0,30,None,None,None
Lee Geum-min,Korea Republic,0,13,0,90,None,None,None

In [18]:
result.to_csv("data/minutes_" + year + ".csv")

In [9]:
result[result["team"] == "United States"].max(axis=0)*11

team             United StatesUnited StatesUnited StatesUnited ...
group_1                                                        990
group_2                                                        990
group_3                                                        990
round_of_16                                                   1320
quarterfinals                                                  NaN
semifinals                                                     NaN
finals                                                         NaN
dtype: object

In [7]:
result[result["team"] == "United States"].sum(axis=0)

team             United StatesUnited StatesUnited StatesUnited ...
group_1                                                        990
group_2                                                        990
group_3                                                        990
round_of_16                                                   1320
quarterfinals                                                    0
semifinals                                                       0
finals                                                           0
dtype: object

In [10]:
result[result["team"] == "United States"]

,team,group_1,group_2,group_3,round_of_16,quarterfinals,semifinals,finals
player,,,,,,,,
Alyssa Naeher,United States,90,90,90,120,None,None,None
Naomi Girma,United States,90,90,90,120,None,None,None
Julie Ertz,United States,90,90,90,120,None,None,None
Savannah Demelo,United States,62,45,0,0,None,None,None
Lindsey Horan,United States,90,90,83,120,None,None,None
Sophia Smith,United States,90,90,60,120,None,None,None
Alex Morgan,United States,62,90,89,98,None,None,None
Andi Sullivan,United States,90,90,90,120,None,None,None
Crystal Dunn,United States,83,90,89,120,None,None,None
Trinity Rodman,United States,74,90,7,65,None,None,None
Emily Fox,United States,83,90,90,119,None,None,None
Casey Murphy,United States,0,0,0,0,None,None,None
Aubrey Kingsbury,United States,0,0,0,0,None,None,None
Ashley Sanchez,United States,0,0,0,0,None,None,None
Sofia Huerta,United States,7,0,0,0,None,None,None
Kelley O'Hara,United States,7,0,1,1,None,None,None
Lynn Williams,United States,0,0,83,55,None,None,None
Alyssa Thompson,United States,16,0,1,0,None,None,None
Alana Cook,United States,0,0,0,0,None,None,None
Emily Sonnett,United States,0,0,7,119,None,None,None
Megan Rapinoe,United States,28,0,30,22,None,None,None
Rose Lavelle,United States,28,45,90,0,None,None,None
Kristie Mewis,United States,0,0,0,1,None,None,None